<!DOCTYPE html>
<html>

<%- include("partials/head") %>

<body>

    <header class="main-header-create">
        <%- include("partials/header") %>
    </header>
    <div class="login-div-container">

        <form action="/tours/edit/<%= tour.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="form-container" >
            <h1 class="titulo"><i class="fa-solid fa-pen-to-square"></i> Editar tour</h1>

            <label for="nombre" class="form-label" >Nombre:</label>
            <input type="text" name="nombre" value="<%= tour.nombre %> " class="edit-input" required>

            <label for="descripcionCorta" class="form-label">Mini descripción:</label>
            <textarea id="mensaje" maxlength="100" class="textarea1" name="descripcionCorta"><%= tour.descripcionCorta %></textarea>
            <div id="contador" class="txtCounter">0/100</div>
            
            <label for="descripcionDetallada" class="form-label">Descripción:</label>
            <textarea id="mensaje1" maxlength="200" class="textarea2" name="descripcionDetallada" ><%= tour.descripcionDetallada %></textarea>
            <div id="contador1" class="txtCounter">0/200</div>

            <label for="imagenes" class="form-label">Imagenes:</label>
            <p>Las imagenes deben tener una escala aproximada, donde el ancho sea el doble del alto:</p>
            <img src="/img/products/<%= tour.imagen1 %> " class="editarImagen">
            <input type="file" name="image1" value= "<%= tour.imagen1 %> " class="edit-input" multiple>
            
            <img src="/img/products/<%= tour.imagen2 %> " class="editarImagen">
            <input type="file" name="image2" value= "<%= tour.imagen2 %> " class="edit-input" multiple>
            
            <img src="/img/products/<%= tour.imagen3 %> " class="editarImagen">
            <input type="file" name="image3" value= "<%= tour.imagen3 %> " class="edit-input" multiple>


            <label for="duracion" class="form-label">Duración:</label>
            <input type="text" name="duracion" value="<%= tour.duracion %> " class="edit-input" required>

            <label for="precio" class="form-label">Precio:</label>
            <input type="text" name="precio" value="<%= tour.precio %> " class="edit-input" required>

            <div class="buttonsEdit edit">
                <button type="submit" class="button cancelButton">Cancelar</button>
                <button type="reset" class="button resetButton">Deshacer</button>
                <button type="submit" class="button">Guardar</button>
            </div>
        </form>
    </div>

    <div class="edit-footer">
        <%- include("partials/footer") %>
    </div>

</body>

</html>